<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<array>
		<string>鼓浪屿</string>
		<string>中山路</string>
		<string>南普陀</string>
		<string>厦门大学</string>
		<string>厦门园林植物园</string>
		<string>南华路</string>
		<string>环岛路</string>
		<string>观音山</string>
		<string>厦门铁道文化公园</string>
		<string>陈嘉庚纪念馆</string>
		<string>海湾公园</string>
		<string>集美学村</string>
	</array>
	<key>detail</key>
	<array>
		<string>中外风格建筑物被完好地汇集</string>
		<string>中国历史文化名街</string>
		<string>始建于唐末五代，初称泗洲院</string>
		<string>华侨陈嘉庚创办，中国最美的大学校园</string>
		<string>围绕万石岩水库精心设计的植物园林</string>
		<string>小资的生活，很适合安静独处</string>
		<string>厦门亚热带风光的特色</string>
		<string>全国最大的沙滩公园</string>
		<string>带状公园，多样主题</string>
		<string>著名的爱国华侨领袖，厦大的创办人</string>
		<string>靠海而建，晚上散步的好去处</string>
		<string>嘉庚风格，陈嘉庚亲自指导</string>
	</array>
	<key>picture</key>
	<array>
		<string>gulangyu.jpg</string>
		<string>zhongshanlu.jpg</string>
		<string>nanputuo.jpg</string>
		<string>xiamendaxue.jpg</string>
		<string>zhiwuyuan.jpg</string>
		<string>nanhualu.jpg</string>
		<string>huandaolu.jpg</string>
		<string>guanyinshan.jpg</string>
		<string>tiedao.jpg</string>
		<string>chenjiageng.jpg</string>
		<string>haiwan.jpg</string>
		<string>jimeixuecun.jpg</string>
	</array>
</dict>
</plist>
